/* Error: Undefined variable.
 *    ,
 * 82 |             color: map-get($map: $colores-fuente, $key: primario);
 *    |                                  ^^^^^^^^^^^^^^^
 *    '
 *   scss\paginas\servicios.scss 82:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 82 \2502              color: map-get($map: $colores-fuente, $key: primario);\d\a    \2502                                   ^^^^^^^^^^^^^^^\a    \2575 \a   scss\\paginas\\servicios.scss 82:34  root stylesheet";
}
